body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('assets/7.jpeg');
  background-size: 100%; /* Diminui o tamanho da imagem para evitar cortes */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff; /* Cor de fundo caso a imagem não cubra tudo */
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #004383;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #004383;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="checkbox"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
}

button {
  width: 100%;
  background-color: #1AC3EA;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004383;
}
